.forminp-pickup-points .data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-items: stretch;
}

.forminp-pickup-points .data > div {
    flex-basis: 45%;
    overflow: auto;
}

.forminp-pickup-points .data > div:last-child {
    border: 1px dashed #ccc;
}

#mainform .forminp-pickup-points input,
#mainform .forminp-pickup-points select {
    margin-bottom: 10px;
}
