input.shipping_method:checked ~ .hcnsg-nearby-points.hidden {
    display: initial;
}

input.shipping_method ~ .hcnsg-nearby-points.hidden {
    display: none;
}

.hcnsg-nearby-points {
    padding-left: 0;
    padding-top: 15px;
    margin-left: 0;
}

.hcnsg-nearby-points li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
}

.hcnsg-nearby-points li .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.hcnsg-nearby-points li .openings {
    margin-top: 5px;
    font-weight: bold;
}

.hcnsg-nearby-points li .open-day {
    white-space: nowrap;
}

.hcnsg-nearby-points li .open-day .day {
    text-transform: capitalize;
    font-weight: bold;
}

.woocommerce-order-received .opening-hours {
    display: inline-block;
    margin-top: 4px;
    border-top: 1px solid #c0c0c0;
}

.woocommerce-order-received .day-line {
    line-height: 1.8;
}

.woocommerce-order-received .opening-hours .day {
    text-transform: capitalize;
    padding-right: 10px;
}
